@font-face {
    font-family: "StolzlBook";
    src: url("../assets/fonts/Stolzl\ Book.otf")
}

@font-face {
    font-family: "StolzlThin";
    src: url("../assets/fonts/Stolzl\ Thin.otf")
}

@font-face {
    font-family: "StolzlLight";
    src: url("../assets/fonts/Stozl\ Light.ttf")
}